.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  width: 100%;
}
.App-caserne {
  background-color: #282c34;
  display: flex;
  padding-right: 10%;
  padding-left: 5%;
}

.App-sinistre {
  background-color: #282c34;
  display: flex;
  padding-left: 10%;
  height: 500px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#lanceTruckCard {
  background-color: rgb(82, 151, 190);
  width: 300px;
  border-radius: 15px;
  margin: 10px ;
}
#citernTruckCard {
  background-color: rgb(82, 151, 190);
  width: 300px;
  border-radius: 15px;
  margin: 10px;
  margin-left: 40px;
  
}
#sinCard {
  background-color: rgb(82, 151, 190);
  width: 300px;
  border-radius: 15px;
  margin: 10px;
}

#vehicules {
  background-color: rgb(13, 56, 75);
  width: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
}
#sinister {
  background-color: rgb(13, 56, 75); 
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

h2 {
  color: white
}

img{
  width: 200px;
  height: 150px;
  border-radius: 5px;
}

#displayVehicule {
  background-color: rgb(13, 56, 75);
  width: 700px;
  border-radius: 15px;
  margin-left:100px;
}
